# Ignore the instance directory
instances/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Other IDE files
*.swp
*.sublime-project
*.sublime-workspace
.idea/
*.code-workspace

# Flask instance config
*.pyc
