<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlamSim - Home</title>
</head>
<body>
    <h1>Welcome to SlamSim!</h1>
<p>
<h2>Leagues</h2></p>
<p>
    <ul>
        {% for league in leagues %}
        <li>
            <a href="{{ url_for('league_routes.view_league', league_id=league.id) }}">
                {{ league.name }}
            </a>
        </li>
        {% endfor %}
        <li><a href="{{ url_for('league_routes.list_leagues') }}">List Your Leagues</a></li>
        <li><a href="{{ url_for('league_routes.create_league') }}">Create New League</a></li>
    </ul>
</body>
</html>
